@import url("widget-style.css");

.blank {
    display: flex;
    justify-content: center;

    margin: 50px 0 20px 0;
}

.form {
    width: 100%;
    min-width: 200px;
    max-width: 333px;
    margin: 40px auto;
}

.login_input {
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*margin-bottom: 10px;*/
    width: 100%;
    min-width: 300px;
    padding: 1px 0 0 6px;

    color: #000;
    border: 0 solid transparent;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.input-container {
    position: relative;

    margin: 0 10px 20px;
}

.label {
    font-size: 20px;
    line-height: 40px;

    position: absolute;
    top: 0;
    left: 5px;

    padding-top: 12px;

    transition: .3s;
    pointer-events: none;

    color: #767676ff;
}

.login_input:focus {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 2px 1px #000;
}

.login_input:focus ~ .label,
.login_input:not(:focus):valid ~ .label {
    font-size: 10px;

    top: -22px;
}

.btn-login {
    width: 100%;
    margin-bottom: 32px;
}
