@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Poppins");
@import url("widget-style.css");

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;

    outline: none;
}

li {
    list-style: none;

    text-decoration: none;
}

img {
    vertical-align: baseline !important;
}

body {
    font-family: "Raleway", sans-serif;

    height: 100%;
}

main {
    flex: 1 0 auto;

    margin-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
}

/*header style*/
.logo {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 140px;

    background: #000;
}

.graphic_logo {
    box-sizing: border-box;
    max-width: 100%;
}

nav {
    line-height: 0;

    max-width: 100%;
    height: 50px;
    margin: auto;
}

.navbar {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;

    width: 75px;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-left a:hover {
    text-decoration: none;

    border-bottom: 2px solid #000;
}

.navbar-center {
    font-size: 17px;
    height: 23px;
    margin-top: 40px;
    padding-left: 120px;

    background-color: white;
}

.navbar-center a {
    padding: 14px 20px;

    text-align: center;
    color: #000;
}

.navbar-center a:hover {
    text-decoration: none;

    color: #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    /*border-radius: 6px;*/
}

.navbar-right {
    font-size: 14px;
    height: 37px;
    display: flex;

    margin-top: 26px;

    background-color: #fff;
}

.navbar-right p {
    padding-top: 13px;
}

.navbar-right a {
    padding: 14px 10px;

    text-align: center;

    color: #000;
}

.navbar-right a:hover {
    text-decoration: none;

    border-bottom: 2px solid #000;
}

.fotorama {
    display: flex;
    justify-content: center;
}

.slot_container {
    display: flex;
    justify-content: center;
}

.slot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
}

.slot_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    height: auto;
    padding-bottom: 30px;
}

.slot_item img {
    max-width: 100%;
    height: 190px;
}

.slot_item h4 {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 100;

    width: 90%;
    padding-top: 14px;

    text-align: right;
}

.price {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 100;

    width: 90%;
    margin-top: 1em;

    text-align: right;
}

.add_to_cart {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 10px;
}

.button {
    width: 80%;
    padding: 8px;
}

/*cart-widget*/

.cart-widget {
    font-family: "Lato", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    color: #004085;
    border-radius: .5em;
    background-color: #cce5ff;
}

/*style for cart interface*/
.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 80%;
    margin-top: 30px;
    margin-left: 100px;
}

.cart img {
    width: 100px;
    height: 100px;
}

.col-1 {
    display: flex;
    align-items: center;
}

.col-1 button:hover {
    background: #d9534f;
}

.col-2 {
    display: flex;
    align-items: center;
}

.col-2 button {
    height: 45%;
    margin: 5px;

    border-radius: 2px;
}

.plus-btn:hover {
    background-color: #28a745;
}

.col-3 {
    display: flex;
    align-items: center;
}

.bottombar-cart {
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin-top: 20px;
}

.promocode {
    margin-bottom: 0;
    padding-right: 9px;
}

.promo {
    right: 41px;

    max-width: 160px;
}

#promocode {
    width: 70%;
}

#alert-promo {
    min-width: 50px;
    min-height: 30px;
    margin-bottom: 0;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;

    text-align: center;
}

.cart-sum {
    left: 25px;

    width: 14%;
    margin-top: 8px;

    text-align: center;
}

.cart-sum p {
    margin-bottom: 2px;
}

.buy-book-btn {
    display: flex;
    width: 63%;
    margin-left: 48px;
}

.book-btn,
.buy-btn {
    cursor: pointer;
    width: 50% !important;
    height: 52px;
    margin-top: 10px;

    text-align: center;

    border: 1px solid;
}

.book-btn:hover,
.buy-btn:hover {
    transition: all .4s;
}

#bookProd {
    left: 30%;
    top: 40%;
    position: fixed;
    z-index: 100;
    width: 40%;
    background-color: #d4edda;
}

/*style for user select*/
.catalog_item_selected {
    filter: invert(1) !important;
}

.start-text {
    margin-left: 17%;
}

.start-text:first-child {
    margin-top: 50px;
}

.start-text:last-child {
    margin-left: 19%;
}

/*style for user's orders*/
.order-container {
    display: flex;
    z-index: 100;
    align-content: flex-start;
    flex-wrap: wrap;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 92px;

    border-bottom: 1px solid #000;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 4em;
}

.order select {
    margin-bottom: auto;
    margin-top: auto;
    width: 110px;
}

.order p {
    margin-bottom: auto;
    margin-top: auto;
}

.payment {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    font-size: 15px;
}

#payment {
    top: 12%;
    left: 38%;
    width: 450px;
}

#sum {
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}

.delivery {
    cursor: pointer;
}

.mbody {
    padding-left: auto;
    padding-right: auto;
}

/*style for user's personal data*/
.personal-container {
    /*font-family: "Lato", sans-serif;*/
    display: grid;

    grid-template-columns: 256px 100px 200px;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
}

.item1 {
    grid-row: 1/5;
}

.item1 img {
    position: absolute;
    top: -20px;
}

.item2 {
    display: flex;
    align-items: center;

    margin-left: 10px;

    grid-column: 2/3;
    grid-row: 1/2;
}

.item3 {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;

    margin-left: 10px;

    grid-column: 2/3;
    grid-row: 2/3;
}

.item4 {
    display: flex;
    align-items: center;

    margin-left: 10px;

    grid-column: 2/3;
    grid-row: 3/5;
}

.item5 {
    text-align: center;

    grid-row: 5/6;
}

.item6 {
    margin-left: 10px;

    grid-column: 2/3;
    grid-row: 5/6;
}

.item7 {
    display: flex;
    align-items: center;

    margin-left: 10px;

    grid-row: 1/2;
}

.item8 {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;

    margin-left: 10px;

    grid-row: 2/3;
}

.item9 {
    display: flex;
    align-items: center;

    margin-left: 10px;

    grid-row: 3/5;
}

.item10 {
    margin-left: 10px;
}

/*uSupport style*/

#feedback-page {
    text-align: center;
}

#form-main {
    float: left;

    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#form-div {
    position: absolute;
    left: 5%;

    float: left;

    width: 64%;
    height: 382px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;

    border-radius: 10px;
    background-color: #ccc;
}

.feedback-input {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 13px 13px 13px 54px;

    color: #3c3c3c;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    background-color: #fbfbfb;

    -ms-box-sizing: border-box;
}

.feedback-input:focus {
    padding: 13px 13px 13px 54px;

    color: #3498db;
    border: 3px solid #3498db;
    outline: none;
    background: #fff;
    box-shadow: 0;
}

.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */

#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-repeat: no-repeat;
    background-position: 11px 8px;
    background-size: 30px 30px;
}

textarea {
    line-height: 150%;

    width: 100%;
    height: 150px;

    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}

#button-blue {
    font-size: 19px;
    font-weight: 300;

    float: left;

    width: 100%;
    margin-top: -4px;
    padding-top: 14px;
    padding-bottom: 14px;

    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    color: white;
    border: #fbfbfb solid 4px;
    background-color: #000;
}

#button-blue:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0;
    height: 50px;

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;

    background-color: #fbfbfb;
}

.submit:hover .ease {
    width: 100%;

    background-color: white;
}

/*uStaff Management menu style*/
#administrator {
    animation: none;
    height: 50%;
}

/*uManageOrder Style*/
.order-update {
    width: 50%;
    left: 23%;
    position: relative;
    margin-top: 30px;
}

/* uStatistic Menu Style*/
.statistic-container {
    height: 400px;
    width: 88%;
    position: absolute;
    left: 1%;
}

.col-9 {
    margin-bottom: 25px;
}

.loading {
    position: absolute;
    height: 100%;
    width: 80%;
    background: #fff;
    z-index: 11;
    animation: fadeout 0.5s forwards 1s;
}

.item {
    float: left;
    overflow: hidden;
    position: absolute;
}

.inner {
    margin: auto;
    height: 90%;
    width: 90%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: fadein 0.5s forwards 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading > .inner {
    opacity: 1;
}

.loading > .inner > .ellipsis::after {
    content: '.';
    font-size: 1em;
    color: transparent;
    animation: ellipsis .75s steps(3) 5;
}

.inner p {
    font-size: xx-large;
    position: relative;
    width: auto;
    margin: auto 10px;
    text-align: center;
}

.borders {
    background: #333;
    position: absolute;
    transition: all 0.2s ease;
}

/* Items */
.item:nth-child(2) {
    z-index: 10;
    background: #c7c1c1;
    width: 50%;
    height: 50%;
    left: 8%;
    max-width: 44%;
    animation: slidein1 0.5s ease-in-out 1s;
    animation-fill-mode: both;
}

.item:nth-child(3) {
    z-index: 9;
    background: #d1c6c6;
    /*right:0;*/
    width: 40%;
    left: 52%;
    min-height: 100%;
    animation: slidein2 1.4s forwards 3s;
    animation-fill-mode: both;
}

.item:nth-child(4) {
    z-index: 8;
    left: 8%;
    bottom: 0;
    background: #857a7a;
    width: 50%;
    height: 50%;
    max-width: 22%;
    animation: slidein3 0.5s ease-in-out 1.5s;
    animation-fill-mode: both;
}

.item:nth-child(5) {
    z-index: 7;
    left: 30%;
    top: 50%;
    background: #b3b3b3;
    width: 22%;
    height: 25%;
    animation: slidein4 0.5s ease-in-out 2s;
    animation-fill-mode: both;
}

.item:nth-child(6) {
    z-index: 6;
    left: 30%;
    bottom: 0;
    background: #c2a1a1;
    width: 22%;
    height: 25%;
}

#barchart > .inner {
    flex-wrap: wrap;
}

#barchart img {
    margin-top: auto;
}

/* Animations */
/* "Authentic Motion" */
@keyframes slidein1 {
    0% {
        min-height: 100%;
    }
    100% {
        min-height: 50%;
    }
}

@keyframes slidein2 {
    0% {
        min-height: 0;
    }
    100% {
        height: 50%;
    }
}

@keyframes slidein3 {
    0% {
        max-width: 44%;
    }
    100% {
        max-width: 22%;
    }
}

@keyframes slidein4 {
    0% {
        height: 50%;
    }
    100% {
        height: 25%;
    }
}

@keyframes slidein5 {
    0% {
        width: 25%;
    }
    100% {
        width: 12.5%;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        background: #fff;
    }
    50% {
        background: #fff;
    }
    /* Fade lighter: #00897B */
    99% {
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    100% {
        height: 0;
        width: 0;
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ellipsis {
    0% {
        color: transparent;
        text-shadow: none;
    }
    1% {
        color: #333;
        text-shadow: .5em 0 0 transparent, 1em 0 0 transparent;
    }
    26% {
        color: black;
        text-shadow: .5em 0 0 transparent, 1em 0 0 transparent;
    }
    51% {
        color: black;
        text-shadow: .5em 0 0 black, 1em 0 0 transparent;
    }
    76% {
        color: black;
        text-shadow: .5em 0 0 black, 1em 0 0 black;
    }
    100% {
        color: black;
        text-shadow: .5em 0 0 black, 1em 0 0 black;
    }
}

/* Border Animation */
.item:hover {
    filter: brightness(70%);
    transition: 0.5s;
}

/* Added Material Button */
.circle {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.circle.animate {
    -webkit-animation: effect 0.65s linear;
    animation: effect 0.65s linear;
}

@-webkit-keyframes effect {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@keyframes effect {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

/*Product Control menu style*/
.product-control-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 307px;
    height: 462px;
    margin: 10px;
}
.card-body{
    animation: fadein 0.6s forwards;
}

.nav-link {
    font-size: 13px;
}

.nav-link:not(.active) {
    color: #fff;
}

.icon-card-img {
    margin: auto;
    width: 120px;
    height: 120px;
    margin-top: 10px;
}

.card-image {
    text-align: center;
}

/*add tab */
.filename {
    font-size: 12px;
}

#file-list {
    max-height: 38px;
    overflow: auto;
}

.custom-file {
    height: 30px;
    font-size: 12px;
    text-align: left;
}

.form-control-file {
    height: 30px;
}

.add-btn {
    width: 100%;

}

.file-add {
    height: 54px;
}

/*update tab*/
.chosen-select {
    width: 100%;
}
/*remove tab*/
.form-group > textarea{
    font-size: 14px;
}

/*footer style*/

footer {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;

    width: 100%;
    min-height: 109px;
    margin: 40px 0 auto;
    padding-bottom: 10px;

    text-align: center;

    background: #000;
}

#rights p {
    color: #fff;
}
