@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Poppins");
@import url("widget-style.css");

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;

    outline: none;
}

li {
    list-style: none;

    text-decoration: none;
}

img {
    vertical-align: baseline !important;
}

body {
    font-family: "Raleway", sans-serif;

    height: 100%;
}

main {
    flex: 1 0 auto;

    margin-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
}

/*header style*/
.logo {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 140px;

    background: #000;
}

.graphic_logo {
    box-sizing: border-box;
    max-width: 100%;
}

nav {
    line-height: 0;

    max-width: 100%;
    height: 50px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;

    width: 75px;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-left a:hover {
    text-decoration: none;

    border-bottom: 2px solid #000;
}

.navbar-center {
    font-size: 17px;

    margin-top: 40px;
    padding-left: 120px;

    background-color: white;
}

.navbar-center a {
    padding: 14px 20px;

    text-align: center;

    color: #000;
}

.navbar-center a:hover {
    text-decoration: none;

    color: #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    /*border-radius: 6px;*/
}

.navbar-right {
    font-size: 14px;

    display: flex;

    margin-top: 26px;

    background-color: #fff;
}

.navbar-right p {
    padding-top: 13px;
}

.navbar-right a {
    padding: 14px 10px;

    text-align: center;

    color: #000;
}

.navbar-right a:hover {
    text-decoration: none;

    border-bottom: 2px solid #000;
}

.fotorama {
    display: flex;
    justify-content: center;
}

.slot_container {
    display: flex;
    justify-content: center;
}

.slot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
}

.slot_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    height: auto;
    padding-bottom: 30px;
}

.slot_item img {
    max-width: 100%;
    height: 190px;
}

.slot_item h4 {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 100;

    width: 90%;
    padding-top: 14px;

    text-align: right;
}

.price {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 100;

    width: 90%;
    margin-top: 1em;

    text-align: right;
}

.add_to_cart {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 10px;
}

.button {
    width: 80%;
    padding: 8px;
}

/*cart-widget*/

.cart-widget {
    font-family: "Lato", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    color: #004085;
    border-radius: .5em;
    background-color: #cce5ff;
}

/*style for cart interface*/
.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 80%;
    margin-top: 30px;
    margin-left: 100px;
}

.cart img {
    width: 100px;
    height: 100px;
}

.col-1 {
    display: flex;
    align-items: center;
}

.col-1 button:hover {
    background: #d9534f;
}

.col-2 {
    display: flex;
    align-items: center;
}

.col-2 button {
    height: 45%;
    margin: 5px;

    border-radius: 2px;
}

.plus-btn:hover {
    background-color: #28a745;
}

.col-3 {
    display: flex;
    align-items: center;
}

.bottombar-cart {
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin-top: 20px;
}

.promocode {
    margin-bottom: 0;
    padding-right: 9px;
}

.promo {
    right: 41px;

    max-width: 160px;
}

#promocode {
    width: 70%;
}

#alert-promo {
    min-width: 50px;
    min-height: 30px;
    margin-bottom: 0;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;

    text-align: center;
}

.cart-sum {
    left: 25px;

    width: 14%;
    margin-top: 8px;

    text-align: center;
}

.cart-sum p {
    margin-bottom: 2px;
}

.book-btn,
.buy-btn {
    width: 50% !important;
    height: 52px;
    margin-top: 10px;
    /*margin-left: 184px;*/

    text-align: center;

    border: 1px solid;
}

.book-btn:hover,
.buy-btn:hover {
    transition: all .4s;
}

#bookProd {
    left: 30%;

    width: 40%;
}

/*style for select*/

/*style for user's orders*/
.order-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 92px;

    border-bottom: 1px solid #000;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 4em;
}

/*style for user's personal data*/
.personal-container {
    /*font-family: "Lato", sans-serif;*/
    display: grid;

    grid-template-columns: 256px 100px 200px;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
}

.item1 {
    grid-row: 1/5;
}

.item1 img {
    position: absolute;
    top: -20px;
}

.item2 {
    display: flex;
    align-items: center;

    margin-left: 10px;

    grid-column: 2/3;
    grid-row: 1/2;
}

.item3 {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;

    margin-left: 10px;

    grid-column: 2/3;
    grid-row: 2/3;
}

.item4 {
    display: flex;
    align-items: center;

    margin-left: 10px;

    grid-column: 2/3;
    grid-row: 3/5;
}

.item5 {
    text-align: center;

    grid-row: 5/6;
}

.item6 {
    margin-left: 10px;

    grid-column: 2/3;
    grid-row: 5/6;
}

.item7 {
    display: flex;
    align-items: center;

    margin-left: 10px;

    grid-row: 1/2;
}

.item8 {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;

    margin-left: 10px;

    grid-row: 2/3;
}

.item9 {
    display: flex;
    align-items: center;

    margin-left: 10px;

    grid-row: 3/5;
}

.item10 {
    margin-left: 10px;
}

/*uSupport style*/

#feedback-page {
    text-align: center;
}

#form-main {
    float: left;

    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#form-div {
    position: absolute;
    left: 5%;

    float: left;

    width: 64%;
    height: 382px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;

    border-radius: 10px;
    background-color: #ccc;
}

.feedback-input {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 13px 13px 13px 54px;

    color: #3c3c3c;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    background-color: #fbfbfb;

    -ms-box-sizing: border-box;
}

.feedback-input:focus {
    padding: 13px 13px 13px 54px;

    color: #3498db;
    border: 3px solid #3498db;
    outline: none;
    background: #fff;
    box-shadow: 0;
}

.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */

#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-repeat: no-repeat;
    background-position: 11px 8px;
    background-size: 30px 30px;
}

textarea {
    line-height: 150%;

    width: 100%;
    height: 150px;

    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}

#button-blue {
    font-size: 19px;
    font-weight: 300;

    float: left;

    width: 100%;
    margin-top: -4px;
    padding-top: 14px;
    padding-bottom: 14px;

    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    color: white;
    border: #fbfbfb solid 4px;
    background-color: #000;
}

#button-blue:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0;
    height: 50px;

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;

    background-color: #fbfbfb;
}

.submit:hover .ease {
    width: 100%;

    background-color: white;
}

/*footer style*/

footer {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;

    width: 100%;
    min-height: 109px;
    margin: 40px 0 auto;
    padding-bottom: 10px;

    text-align: center;

    background: #000;
}

#rights p {
    color: #fff;
}
